*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    box-shadow: 0 15px 20px #ABB2B9;
}

h2{
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    color: #2f4f4f;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 26px 0;
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input-box:nth-child(2n){
    justify-self: end;
}
.input- label, .gender_title{
    width: 95%;
    color: #2f4f4f;
    font-weight: bold;
    margin: 5px 0;
}
.gender_title{
    font-size: 16px;
}
.input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.input-box input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.gender-cat{
    color: gray;
}
.gender-cat label{
    padding: 0 20px 0 5px;
    font-size: 14px;
}
.gender-cat label, .gender-cat input{
    cursor: pointer;
}

.input- label, .country-label{
    width: 95%;
    color: #2f4f4f;
    font-weight: bold;
    margin: 5px 0;
}
.country-select{
    height: 40px;
    width: 40%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.input- label, .qual-label{
    width: 95%;
    color: #2f4f4f;
    font-weight: bold;
    margin: 5px 0;
}
.qual{
    height: 40px;
    width: 50%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}


.input-label, .current-course{
    width: 95%;
    color: #2f4f4f;
    font-weight: bold;
    margin: 5px 0;
}

.course-select{
    height: 40px;
    width: 40%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.input-label, .current-year{
    width: 95%;
    color: #2f4f4f;
    font-weight: bold;
    margin: 5px 0;
}
.year-select{
    height: 40px;
    width: 40%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.input-label, .soft-copy{
    width: 95%;
    color: #2f4f4f;
    font-weight: bold;
    margin: 5px 0;
}

.alert {
    font-size: 14px;
    font-style: italic;
    color: dimgray;
    margin: 5px 0;
    padding: 10px;
}

.alert a{
    text-decoration: none;
}
 .alert a:hover{
    text-decoration: underline;
 }
 .register{
    margin: 15px 0;
 }
 .register button{
    width: 100px;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    color: #fff;    
    border: none;
    border-radius: 5px;
    background-image:  linear-gradient(to right, #aa076b,#61045f);
 }
 .register button:hover{
    background-image:  linear-gradient(to right,#61045f, #aa076b);

 }
